* {
    margin: 0;
    padding: 0;
    border: 0;
    /*line-height: 1.4em;*/
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

.logo  a > h3{
	font-family: 'Pacifico', cursive;
}

.main-page{
	background-color: red;
	height: 100vh;
}